/* Fuente para H1*/

@font-face {
  font-family: "Croissant One";
  src: url("/fonts/CroissantOne-Regular.woff2") format("woff2"),
    url("/fonts/CroissantOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Globales */

body {
  width: 70%;
  height: 100%;
  margin: auto;
  box-shadow: 8px 8px 10px rgb(110, 99, 99);
  background: radial-gradient(
    circle,
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(238, 216, 15)
  );
  scroll-behavior: smooth;
}

h1 {
  font: bold 28px Croissant One;
  color: rgb(255, 255, 255);
}

h2 {
  font: bold 20px Arial;
  color: rgb(117, 26, 26);
  border-left: 5px solid rgb(149, 151, 21);
  padding-left: 8px;
  margin-left: 20px;
  margin-top: 30px;
  display: inline-block;
}

h3 {
  font: bold 11px Arial;
}

h4 {
  font: 11px Arial;
}

section {
  background-color: white;
  border-right: 1px solid rgba(87, 74, 74, 0.514);
  border-left: 1px solid rgba(87, 74, 74, 0.514);
}

a {
  text-decoration: none;
}

/* Header */

header {
  background-color: black;
  margin-top: 70px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}

header h1 {
  width: 50%;
  margin-left: 20px;
}

header nav {
  width: 50%;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  font-family: Verdana;
}

header nav a {
  color: rgb(177, 162, 162);
  padding-bottom: 8px;
  transition: all 0.3s ease-in;
}

header nav a:hover {
  color: rgb(209, 212, 28);
  font-weight: bolder;
  border-bottom: 3px solid rgba(0, 116, 0, 0.692);
}

/* About */
.about {
  height: 15.5rem;
}

.about article {
  display: flex;
  width: 100%;
}

.about figure {
  width: 20%;
  margin-top: 30px;
  margin-left: 20px;
}

.about figure img {
  width: 140px;
  height: 140px;
  border-radius: 90px;
  border: 8px solid rgba(144, 158, 144, 0.432);
  transition: all 0.3s ease-in-out;
}

.about figure img:hover {
  border: 8px solid rgba(9, 180, 18, 0.432);
}

.about div {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about p {
  width: 100%;
  display: inline-block;
  line-height: 20px;
}
.about ul {
  display: flex;
  width: 35%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.about ul li i {
  font-size: 20px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  padding: 10px;
}

.about ul li {
  transition: all 0.2s ease-in-out;
}

.about ul li:hover {
  transform: scale(1.5);
}

/* Portafolio */

.Portafolio {
  height: 28.5rem;
}

.images-portafolio {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.images-portafolio img {
  width: 270px;
  height: 150px;
  margin-bottom: 20px;
  border: 8px solid rgba(145, 134, 134, 0.432);
  transition: all 0.2s ease-in-out;
}

.images-portafolio img:hover {
  border: 8px solid rgba(9, 180, 18, 0.432);
  transform: rotate(5deg);
}

/* Mis habilidades */

.skills {
  height: 19.5rem;
}

.barras-skill {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  height: 240px;
}

.divisor1 {
  width: 3%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.divisor2 {
  width: 35%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.barras-skill .contenedor {
  background-color: rgba(145, 134, 134, 0.432);
  height: 10px;
  border-radius: 10px;
}

.contenedor div {
  background-color: rgba(9, 180, 18, 0.432);
  height: 10px;
  width: 45%;
  border-radius: 8px;
}

/* Contacto */

.contact {
  height: 30rem;
}

.contact article {
  display: flex;
  margin-top: 30px;
  width: 100%;
  justify-content: space-around;
}

.contact form {
  display: inline;
  width: 60%;
  border-right: 2px solid rgba(128, 128, 128, 0.384);
  padding-right: 13px;
}

.contact textarea {
  width: 95%;
  height: 135px;
  resize: none;
}

.datos h3 {
  line-height: 70px;
}

.contact form h3 {
  line-height: 40px;
}

.datos-llenar {
  display: flex;
}

.datos-llenar div {
  width: 100%;
}

.datos-llenar input {
  width: 90%;
}

.contact form input:focus,
.contact form textarea:focus {
  background-color: rgb(224, 224, 216);
  box-shadow: 0px 5px 8px rgb(26, 27, 26);
}

.form-button {
  background-color: rgba(9, 112, 14, 0.726);
  color: white;
  font-family: monospace;
  margin-top: 20px;
  height: 35px;
  width: 120px;
  border-radius: 10px;
  border: none;
}

.form-button:hover {
  box-shadow: inset -5px -5px 5px rgb(3, 65, 6);
  border: 0.7px solid rgb(138, 123, 123);
}

/* Footer */

footer {
  background-color: black;
  margin-bottom: 70px;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
}

footer h3 {
  color: rgba(219, 199, 199, 0.664);
  padding: 25px;
}

/* Imagen fixed */

.fixed-triforce {
  position: fixed;
  bottom: 40px;
  right: 70px;
  transition: all 0.5s ease-in-out;
}

.fixed-triforce:hover {
  transform: rotate(360deg);
}
